# Composer dependencies
/vendor/
composer.lock

# Laravel specific files
.env
.env.*
.phpunit.result.cache
storage/*.key

# Node dependencies
/node_modules/
/public/hot
/public/storage
/public/build
/build

# Laravel Mix files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Other